body {
    background-color:lightgrey;
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing:border-box;    
}
h1{
    margin-bottom: 15px;
    text-align: center;
}
.container{
 position: relative;
 top:60px;
 margin: 15px; 
}

.row {
    width:100%;
}
.name1{
    float:right;
    width: 100px;
    text-align: center;
    border: 2px solid black;
    background-color:indianred;
}
.name2{
    float:right;
    width: 100px;
    text-align: center;
    border: 2px solid black;
    background-color: skyblue;
}
.name3{
    float:right;
    width: 100px;
    text-align: center;
    border: 2px solid black;
    background-color: darkseagreen;
}
p{
    background-color: ghostwhite;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    clear: right;
}
.item{
    width:90%;
    border: 1px solid black;
}
/* desktop media query */
	@media (min-width: 992px){
		.col-lg-4 {
			float: left;
			width: 33.33%;
		}
	}
/* tablet media query */
@media (min-width: 768px) and (max-width: 991px){
        .col-md-6 {
            width: 50%;
        }
        .col-md-12 {
            width: 100%;
        }
    }
/* Mobile media query */
@media (max-width: 767px){
        .col-sm-12 {
            width: 100%;
        }
    }
